* {
    box-sizing: border-box;
    user-select: none;
}

:first-child {
    margin-top: 0;
}

body {
    margin: 0;
    padding: 1rem;
    font: 1rem/1 sans-serif;
}

.clearboth {
    clear: both;
}

// -----------------------------------------------------------------------------
// hint
p.hint {
    margin-top: 0.9rem;
    font-size: 0.9rem;
}

span.key {
    background: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 55%);
    border-radius: 2px;
    padding: 2px 5px;
    font-size: 0.8rem;
}

// -----------------------------------------------------------------------------
// panel
.panel {
    position: relative;
    float: left;
    margin-left: 1rem;
    height: 660px;
    padding: 0.5rem;
    width: 300px;
    background: #ffce80;
    border-radius: 3px;
}

.item {
    &.their-turn {
        font-weight: bold;
    }

    &.regular {
        margin-bottom: 1rem;
    }

    &:last-child {
        margin-bottom: 0;
    }

    svg {
        float: left;
    }

    .contents {
        float: left;
        padding-left: 3px;
    }

    &.small > .contents {
        padding-top: 2px;
    }

    &.regular > .contents {
        padding-top: 8px;
    }

    .name {
        margin-bottom: 0.5rem;
    }
}

section.territory {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: 0.9rem;
}

// -----------------------------------------------------------------------------
// svg stuff
svg.map {
    float: left;
    height: 660px;
    width: 1150px;
    border: 2px solid #000;
}

path:hover {
    fill: currentColor;
}

path.neighbour {
    &, &:hover {
        fill: #ff0;
    }
}

path.active {
    &, &:hover {
        fill: #f00;
    }
}

text {
    fill: #fff;
}

rect {
    transition: width 0.05s ease-out;
}
