* {
    box-sizing: border-box;
    user-select: none;
}

:first-child {
    margin-top: 0;
}

body {
    margin: 0;
    padding: 1rem;
    font: 1rem/1 sans-serif;
}

button {
    font-size: 1rem;
}

.clearboth {
    clear: both;
}

// -----------------------------------------------------------------------------
// hint
p.hint {
    margin-top: 0.9rem;
    font-size: 0.9rem;
}

span.key {
    background: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 55%);
    border-radius: 2px;
    padding: 2px 5px;
    font-size: 0.8rem;
}

// -----------------------------------------------------------------------------
// svg stuff

$yellow: #ff0;
$red: #f00;

$BORDER: 5px;
$WIDTH: 1150px + $BORDER;
$HEIGHT: 660px + $BORDER;

svg.map {
    float: left;
    width: $WIDTH;
    height: $HEIGHT;
    border: $BORDER solid;
    border-radius: 3px;
}

path:hover {
    fill: currentColor;
}


path.neighbour {
    &, &:hover { fill: $yellow; }
}

path.active {
    &, &:hover { fill: $red; }
}

path.attacked {
    fill: url(#crosshatch);
}

pattern .square {
  &.yellow { fill: $yellow; }
  &.red { fill: $red; }
}

text {
    fill: #fff;
}

rect {
    transition: width 0.05s ease-out;
}

// -----------------------------------------------------------------------------
// panel
.panel {
    position: relative;
    float: left;
    margin-left: 1rem;
    height: $HEIGHT;
    padding: 0.5rem;
    width: 300px;
    border: 5px solid;
    border-radius: 3px;
}

.item {
    &.their-turn {
        font-weight: bold;
    }

    &.regular {
        margin-bottom: 1rem;
    }

    &:last-child {
        margin-bottom: 0;
    }

    svg {
        float: left;
    }

    .contents {
        float: left;
        padding-left: 3px;
    }

    &.small > .contents {
        padding-top: 2px;
    }

    &.regular > .contents {
        padding-top: 8px;
    }

    .name {
        margin-bottom: 0.5rem;
    }
}

section.territory {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: 0.9rem;
}

.attack-summary > div {
    margin-bottom: 1rem;
    text-align: center;

    span.country {
        padding: 0.5rem 0.8rem;;
        color: #fff;
        border-radius: 0.5rem;
        display: inline-block;
    }

    span.beats {
        position: relative;
        top: -12px;
    }
}

.die, .dice {
    font-size: 4rem;
    line-height: 2.8rem;
}
