svg * {
    user-select: none;
}

body {
    margin: 0;
    padding: 1rem;
    font-family: sans-serif;
}

svg {
    height: 660px;
    width: 1030px;
    border: 2px solid #000;
}


path:hover {
    fill: currentColor;
}

path.neighbour, path.neighbour:hover {
    fill: #ff0;
}
path.active, path.active:hover {
    fill: #f00;
}

text {
    fill: #fff;
}

rect {
    transition: width 0.05s ease-out;
}
