* {
    box-sizing: border-box;
    user-select: none;
}

:first-child {
    margin-top: 0;
}

body {
    margin: 0;
    padding: 1rem;
    font: 1rem/1 sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

button {
    font-size: 1rem;
}

.clearboth {
    clear: both;
}

span.key {
    background: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 55%);
    border-radius: 2px;
    padding: 2px 5px;
    font-size: 0.8rem;
}

// -----------------------------------------------------------------------------
// svg stuff

$yellow: #ff0;
$red: #f00;

$border: 10px;
$svg_width: 1150px + $border*2;
$svg_height: 660px + $border*2;
$panel_width: 330px;

.map {
    position: absolute;
    left: calc(50% - #{($svg_width + $panel_width)/2});

    // the 3rem comes from h1 font-size (2rem) + margin-bottom (1rem)
    top: calc(50% - (#{$svg_height/2} + 3rem);

    > svg {
        width: $svg_width;
        height: $svg_height;
        border: $border solid;
        border-radius: 5px;
    }

    > .hint {
        margin-top: 0.9rem;
        font-size: 0.9rem;
    }
}

path:hover {
    fill: currentColor;
}


path.neighbour {
    &, &:hover { fill: $yellow; }
}

path.active {
    &, &:hover { fill: $red; }
}

path.attacked {
    fill: url(#crosshatch);
}

pattern .square {
  &.yellow { fill: $yellow; }
  &.red { fill: $red; }
}

text {
    fill: #fff;
}

rect {
    transition: width 0.05s ease-out;
}

// -----------------------------------------------------------------------------
// panel
.panel {
    position: fixed;
    right: 0;
    top: 0; bottom: 0;
    padding: 2rem 1rem 2rem;
    width: $panel_width;
    border-left: $border solid;
    background: #fff;
}

.item {
    &.their-turn {
        font-weight: bold;
    }

    &.regular {
        margin-bottom: 1rem;
    }

    &:last-child {
        margin-bottom: 0;
    }

    svg {
        float: left;
    }

    .contents {
        float: left;
        padding-left: 3px;
    }

    &.small > .contents {
        padding-top: 2px;
    }

    &.regular > .contents {
        padding-top: 8px;
    }

    .name {
        margin-bottom: 0.5rem;
    }
}

section.territory {
    position: absolute;
    left: 1rem;
    bottom: 2rem;
}

.summary > div {
    margin-bottom: 1rem;
    text-align: center;

    &.long {
        line-height: 1.4;
    }

    span.country {
        padding: 0.5rem 0.8rem;;
        color: #fff;
        border-radius: 0.5rem;
        display: inline-block;
    }

    span.beats {
        position: relative;
        top: -12px;
    }
}

.die, .dice {
    font-size: 4rem;
    line-height: 2.8rem;
}
