* {
    user-select: none;
}

body {
    margin: 0;
    padding: 1rem;
    font-family: sans-serif;
    cursor: default;
}

svg {
    height: 660px;
    width: 1030px;
    border: 2px solid #000;
}


path:hover {
    fill: currentColor;
}

text {
    fill: #fff;
}

rect {
    display: none;
    transition: width 0.05s ease-out;
}

rect.visible {
    display: inline;
}
